<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//ptseelm-lx2300.ikeadt.com:1521/PTICIT.IKEADT.COM</property>
        <property name="hibernate.default_schema">EBCICI01</property>
        <property name="hibernate.connection.username">EBCICI01</property>
        <property name="hibernate.connection.password">EBCICI01</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!--<mapping resource="com/ikea/genEntities/BdHdtcLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AudBusinessObjT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmFilterPjoT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/UsPriFetchSrcT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdDelCandidatesT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditTransT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/IciTotallyMissedCsmV2.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdTraderT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdTraderV.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocLevValueT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Tree0T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLineComponTTest.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TempPdfErrArchiveT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdDelGroupTempT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmFilterLovT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdLineClaimT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLegalNoExtendedT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ErrorParmT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocParmValueT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PriFetchBcT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdSubTarnoCtyUstaT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TimTaxIndicatorT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Tree1T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocLevKeyValueT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TopPaytermT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmPrntJobStatT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdNoT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdElisaEventT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdTraderT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdDelT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsCalcCalcMethodLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdSubTaxrTaxtT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmCompPrinterT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Tree3T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdPdfT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdBank2T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhBdhdtcT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/DelTermCodeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdLineSubtotT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Tree2T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditChangeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocParmT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdAuthT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmFilterlogT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TestLogT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdClaimT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TopPayDaysT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLineComponRakum28T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Tree4T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FirstBuyerStoreT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BotplSampleGbFy19.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PogsAlgoAnodeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdHdtcTaxLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArtCaisCtyT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcTraderTaxrgstT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsCbdMatrixBuT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocLevInstT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Tree5T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdLineComponTaxT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLegalNoT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Bdcomp.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CheckT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhBdT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdHdtcT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/HdtcSetupT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmStrsProcessT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdElisaT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/GpsBdSubTarnoBack.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PogsAlgorithmT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AudCtxT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PriFetchRpyT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdPublishConfigT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcMetaDataBatchJobT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdAutoCorrDateT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmFilterLovMapT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/SellerSelectV.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BeBdMapT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TArcMetaDataBatchStepT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdAutoCorrT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvcVersT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocLevKeyInstT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/UsPriFetchT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditConfigColumnT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ElisaCountriesT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/State.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhMetaDataBatchJobT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AudBkFieldsT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhPriFetchRpyT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PriFetchBuMapT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcMetaDataBatchStepT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/SysvVerify.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdHdtcTaxLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvcLinkInterT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditChangeT2020.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditEventT2020.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmCnorcneeTypesT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ElisaSendLevelT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/VwIcimonitoringscript092017.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcPriFetchRpyT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/HdtcUomT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsCbdCompanyFunctionT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvcInterT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/HdtcCalcRefT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvcBatchJobsT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvcLinkT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLineClaimT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditArtefactT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BeKeyT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/JobObjectsT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmOutputMediaT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmPrntJobOrdT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsCbdStructureT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Bd4EyeManFlagV.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmFtpConnectT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdCreationT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BeBillingCodeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhBdhdtcLineTaxT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/GpsBdBackup.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/SupplyChainBasisCmT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsSendT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CompareGeminiItmT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/IciUserSetT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmTemplT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhBdLineComponT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArtSup.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Bucode.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TopPayLangT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditConfigTypeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmFilterT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Bd4EyePrincV.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditConfigTableT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/VwIcimonitoringscript210716.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PogsAlgoParmT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ToadPlanTable.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmPjPrioT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocValueTypeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArtCty.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsCbdMatrixGaT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/SupplyChainBasisT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmICosTransT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmBriefClaimLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TraderTaxrgstT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocParmInstT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLifecycleT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdTaxIndMapT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmBriefClaimT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdCommentT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsCbdGroupT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BeBcMapT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PriFetchRpyTTest.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditPropTdT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/WaitfortotTempT1.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdDelInvcTempT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/DelTermPlaceT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/UsPriFetchRpyT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmPrntJobT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdCommentT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdElisaT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvcLinkComponT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BeTypeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/KeygeneratorT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdDelRunT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ScFirstSellerT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdArchiveEventT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmICosSupTransT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdDelTempT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/SupplyChainBasisCmRdT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmCompOffiTemplT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/LegacyAgreSteerT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TanjaT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocLevKeyT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/SupplyChainHeaderT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhBdLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdTaxIndicatorT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/DelTermRecT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsCalcCalcMethodT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BsprocessprioRequestT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsVersT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TempIciArcBdT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocSystemT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdColorT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/GpsBdLineBackup.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLineSubtotT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdAddress2T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhMetaDataBatchStepT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AudChgT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdSubTarnoCtyUstaT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/SteeringTableConfigT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLineTTest.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdsendpamV.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditArtefactT2020.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdAdditionalDetailT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmBriefT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OneSupplyWorkaroundT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/GpsBdBackupP1.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmConmsgT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ErrorT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdSendPreaccT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/HdtcTariffTypeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdCustExpTextT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvcT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcHandshakeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLineComponTaxT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TestCustQuick.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdArchiveT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BackdeliveryT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdBu2T.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmBriefLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/IciDbVersionT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PriFetchErrorT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmDocTypeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Bd2605Tmep.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmShpmsgT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TrReportT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmICasyTransT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmEmailAddressT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/SupplyChainLinkT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdHdtcLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditEventT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdHdtcT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/IciTotallyMissedCsmV.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdSendExtSystemT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/HdtcDelMethT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PocLevT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdSubTaxrTaxtT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BeBcLangT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BeCostDescT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/TempBdArchiveT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BulkProcessT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmCsmmsgT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PriFetchErrorMapT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdGroupT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/CsmIMhsTransT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhBdLineComponTaxT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/LegacyAgreEventT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/FindwhBdhdtcLineT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BackdeliveryTechT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdSendExtSystemV.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/Gov.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PogsAlgoQtypeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdSubBillingCodeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/DelTermEventT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PogsAlgoVerT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditTransT2020.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/VwIcimonitoringscript.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvsT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/ArcBdLineComponT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PogsAlgoQtypeStructT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/InvcVersInterT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/OmUsageT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdSubBillingCodeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/PogsAlgoRnodeT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdArchiveDocsT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/AuditPropT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BsprocessprioResponseT.hbm.xml"/>
        <mapping resource="com/ikea/genEntities/BdLineComponT.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>
